# Node.js/npm stuff
node_modules
npm-debug.log
npm-shrinkwrap.json
package.json

# Cryptalk documentation
docs

# Git stuff
.git
.gitignore

# Travis CI configuration
.travis.yml

# Heroku metadata
app.json